@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

phaseCard {
  padding: 2.5rem;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}

inputSubHeader {
  font-size: x-small;
  font-weight: 700;
  margin-bottom: 0.25rem;
  display: flex;
}

